* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: grey;
}

.container {
  width: 60vmin;
  position: absolute;
  padding: 3vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border-radius: 2vmin;
}

#text {
  font-weight: 600;
  font-size: 2.5vmin;
  margin-bottom: 1vmin;
}

#Qrtext {
  height: 8vmin;
  width: 100%;
  border: .2vmin solid #494eea;
  outline: 0;
  padding: .2vmin;
  margin: 1vmin 0 1vmin;
  border-radius: 1vmin;
  font-size: 2vmin;
}

#Enter-button,
#download-button {
  height: 8vmin;
  width: 100%;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: .5vmin;
  cursor: pointer;
  box-shadow: 0 .5vmin .5vmin rgba(0, 0, 0, 0.1);
  font-weight: 500;
  margin-top: 2vmin;
  font-size: 2vmin;
}

#imgbox {
  width: 35vmin;
  border-radius: .5vmin;
  max-height: 0px;
  overflow: hidden;
  transition: max-height;
}

#qrimage {
  width: 100%;
  padding: 1vmin;
}

#imgbox.show-img {
  max-height: 45vmin;
  margin: 1vmin auto;
  border: .2vmin solid #d1d1d1;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}